pip
streamlit>=1.33.0
numpy>=1.23.5
matplotlib
panel>=1.4.1
bokeh
param
pyvista
stpyvista>=0.0.18
geovista
colorcet
requests
cmocean>=4.0.3
trame
trame-client
trame-components
trame-server
trame-vtk
trame-vuetify
openseespy
graphviz
scipy
streamlit_pdf_viewer
plotly
SALib
streamlit_toggle
streamlit_option_menu
Pillow
openpyxl
python-docx
sectionproperties
concreteproperties
ezdxf
scikit-learn
openpyxl



